[Unit]
Description=Taffybar applet watcher
Before=default.target

[Service]
Type=dbus
BusName=org.kde.StatusNotifierWatcher
ExecStart=/run/current-system/sw/bin/status-notifier-watcher

[Install]
WantedBy=default.target
