/* purity theme */
@define-color black #000000;
@define-color red #ff0040;
@define-color green #40ff00;
@define-color yellow #ffc000;
@define-color blue #0040ff;
@define-color magenta #c000ff;
@define-color cyan #00c0ff;
@define-color white #ffffff;

@define-color bg #101010;
@define-color fg #f0f0f0;
@define-color grey #404040;
@define-color bright-grey #c0c0c0;

/* top level styling */

.taffy-window * {
  all: unset;

  font-family: "Hack Nerd Font", sans-serif;
  font-size: 12pt;
  color: @fg;
}

.taffy-box {
  background-color: @bg;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.inner-pad {
  padding: 1px;
}

.contents {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s;
  border-radius: 12px;
}

/* Workspaces styling */

.workspace-label {
  padding-left: 4px;
  padding-right: 4px;
}

.active {
  color: @cyan;
  font-weight: bold;
}

.urgent {
  color: @red;
  font-weight: bold;
}

.active .contents {
  background-color: @grey;
}

.visible .contents {
  background-color: @bg;
}

.window-icon-container {
  transition: opacity 0.2s, box-shadow 0.2s;
  opacity: 1;
}

/* This gives space for the box-shadow (they look like underlines) that follow.
   This will actually affect all widgets, (not just the workspace icons), but
   that is what we want since we want the icons to look the same. */
.auto-size-image,
.sni-tray {
  padding: 2px;
}

.window-icon-container.active {
  box-shadow: inset 0 -2px @cyan;
}

.window-icon-container.urgent {
  box-shadow: inset 0 -3px @yellow;
}

.window-icon-container.inactive .window-icon {
  padding: 0px;
}

.window-icon-container.minimized .window-icon {
  opacity: 0.5;
}

.window-icon {
  opacity: 1;
  transition: opacity 0.5s;
}
